.editor {
    box-sizing: border-box;
    border: 0px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 0em;
    box-shadow:none;padding-top:0px;
    background: #fefefe; word-break: break-all;
  }
  
  .editor :global(.public-DraftEditor-content) {
    min-height:45px; word-break: break-all;   position: relative; padding-top:0px;
  
  }
  .editor :global(.public-DraftEditorPlaceholder-root) {
    position: absolute;
  }
  
  
 
  /* .editor :global(.public-DraftEditor-content):before{
    content:'What is happening?'; color:#536471;
    position: absolute; left: 0; top:6px

}
.editor :global(.public-DraftEditor-content):focus:before{
  content:'';
  position: absolute; left: 0; top:0

} */
  